.container{
  width: 30%;
  align-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.card{
  width: 100%;
  align-content: center;
  text-align: center;
  color: white;
  background:  rgba(76, 175, 80, 0);
  border: transparent;
}

.card-title{
  font-size: 50px;
}

.form-control {
  text-align: center;
}

p{
  text-align: center;
}

