<div>
  <h5 class="table-title">Registros</h5>
</div>
<div>
<table class="table">
    <thead class="bar">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Temperature</th>
        <th scope="col">Humidity</th>
        <th scope="col">GPS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arduino of arduinoArray">
        <td>{{arduino.user}}</td>
        <td>{{arduino.temperature}}</td>
        <td>{{arduino.humidity}}</td>
        <td>{{arduino.gps}}</td>
      </tr>
    </tbody>
  </table>

</div>